<br>
<br>
{{#ifCalories1 caloriesSum 2000}}
    <div>
        <h1>{{user.plan.OptionA.consumption}}</h1>
        <p>{{user.plan.OptionA.consumption-comment}}</p>
        <div class="diet-div">
            <h3>{{user.plan.OptionA.subtitle1}}</h3>
            <ul>
                <li>{{user.plan.OptionA.tip1}}</li>
                <li>{{user.plan.OptionA.tip2}}</li>
                <li>{{user.plan.OptionA.tip3}}</li>
            </ul>
        </div>
        <div class="ex-div">
            <h3>{{user.plan.OptionA.subtitle2}}</h3>
            <ul>
                <li>{{user.plan.OptionA.tip4}}</li>
                <li>{{user.plan.OptionA.tip5}}</li>
                <li>{{user.plan.OptionA.tip6}}</li>
            </ul>
        </div>
    </div>
{{/ifCalories1}}


{{#ifCalories2 caloriesSum 2000 2500}}
    <div>
        <h1>{{user.plan.OptionB.consumption}}</h1>
        <p>{{user.plan.OptionB.consumption-comment}}</p>
        <div class="diet-div">
            <h3>{{user.plan.OptionB.subtitle1}}</h3>
            <ul>
                <li>{{user.plan.OptionB.tip1}}</li>
                <li>{{user.plan.OptionB.tip2}}</li>
                <li>{{user.plan.OptionB.tip3}}</li>
            </ul>
        </div>
        <div class="ex-div">
            <h3>{{user.plan.OptionB.subtitle2}}</h3>
            <ul>
                <li>{{user.plan.OptionB.tip4}}</li>
                <li>{{user.plan.OptionB.tip5}}</li>
                <li>{{user.plan.OptionB.tip6}}</li>
            </ul>
        </div>
    </div>
{{/ifCalories2}}

{{#ifCalories2 caloriesSum 2500 3000}}
    <div>
        <h1>{{user.plan.OptionC.consumption}}</h1>
        <p>{{user.plan.OptionC.consumption-comment}}</p>
        <div class="diet-div">
            <h3>{{user.plan.OptionC.subtitle1}}</h3>
            <ul>
                <li>{{user.plan.OptionC.tip1}}</li>
                <li>{{user.plan.OptionC.tip2}}</li>
                <li>{{user.plan.OptionC.tip3}}</li>
            </ul>
        </div>
        <div class="ex-div">
            <h3>{{user.plan.OptionC.subtitle2}}</h3>
            <ul>
                <li>{{user.plan.OptionC.tip4}}</li>
                <li>{{user.plan.OptionC.tip5}}</li>
                <li>{{user.plan.OptionC.tip6}}</li>
            </ul>
        </div>
    </div>
{{/ifCalories2}}

{{#ifCalories3 caloriesSum 3000}}
    <div>
        <h1>{{user.plan.OptionD.consumption}}</h1>
        <p>{{user.plan.OptionD.consumption-comment}}</p>
        <div class="diet-div">
            <h3>{{user.plan.OptionD.subtitle1}}</h3>
            <ul>
                <li>{{user.plan.OptionD.tip1}}</li>
                <li>{{user.plan.OptionD.tip2}}</li>
                <li>{{user.plan.OptionD.tip3}}</li>
            </ul>
        </div>
        <div class="ex-div">
            <h3>{{user.plan.OptionD.subtitle2}}</h3>
            <ul>
                <li>{{user.plan.OptionD.tip4}}</li>
                <li>{{user.plan.OptionD.tip5}}</li>
                <li>{{user.plan.OptionD.tip6}}</li>
            </ul>
        </div>
    </div>
{{/ifCalories3}}