{{#ifCalories1 caloriesSum 2000}}
    <div>
        <h1>{{user.plan.OptionA.consumption}}</h1>
        <p>{{user.plan.OptionA.consumption-comment}}</p>
        <div class="diet-div">
            <h3>{{user.plan.OptionA.subtitle}}</h3>
            <ul>
                <li>{{user.plan.OptionA.tip1}}</li>
                <li>{{user.plan.OptionA.tip2}}</li>
                <li>{{user.plan.OptionA.tip3}}</li>
            </ul>
        </div>
        <div class="ex-div">
            <h3>{{user.plan.OptionA.subtitle}}</h3>
            <ul>
                <li>{{user.plan.OptionA.tip4}}</li>
                <li>{{user.plan.OptionA.tip5}}</li>
                <li>{{user.plan.OptionA.tip6}}</li>
            </ul>
        </div>
    </div>
{{/ifCalories1}}

{{!-- 
{{#ifCalories2 caloriesSum 2000 2500}}
    <div>
        <h1>{{plan.consumption}}</h1>
        <p>{{plan.consumption-comment}}</p>
        <div class="diet-div">
            <h3>{{plan.subtitle}}</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="ex-div">
            <h3>{{plan.subtitle}}</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
{{/ifCalories2}}

{{#ifCalories2 caloriesSum 2500 3000}}
    <div>
        <h1>{{plan.consumption}}</h1>
        <p>{{plan.consumption-comment}}</p>
        <div class="diet-div">
            <h3>{{plan.subtitle}}</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="ex-div">
            <h3>{{plan.subtitle}}</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
{{/ifCalories2}}

{{#ifCalories3 caloriesSum 3000}}
    <div>
        <h1>{{plan.consumption}}</h1>
        <p>{{plan.consumption-comment}}</p>
        <div class="diet-div">
            <h3>{{plan.subtitle}}</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="ex-div">
            <h3>{{plan.subtitle}}</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
{{/ifCalories3}} --}}